Debug/*
src/assets/fonts/*
src/assets/maps/*
src/assets/music/*
src/assets/models/*
src/assets/savefiles/*
src/assets/sounds/*
src/assets/sprites/*
*.o
*.ppu
src/backup/*
src/dglOpenGL.pas
*.ico
*.lpi
*.compiled
*.sh
*.rc
*.manifest
src/main
